@import './button.scss';
@import './vant.scss';
html,
body {
  height: 100%;
  width: 100%;
}
#app {
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.page {
  position: relative;
  background-color: #f8f8f8;
  font-size: 16px;
  font-family: 'PingFangSC Regular';
  box-sizing: border-box;
  height: 100%;
  color: $TEXT-COLOR;
}
.page {
  overflow: hidden;
}
.bg-white {
  background-color: #fff;
}

.container {
  padding: 0 12px;
}

.page__hd {
  position: relative;
  padding: 40px;
}

.page__title {
  text-align: left;
  font-size: 17px;
  font-weight: 400;
}

.page_logo {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
}

.page__desc {
  margin-top: 10px;
  text-align: left;
  font-size: 13px;
  color: $TEXT-COLOR-0;
}

.text-center {
  text-align: center;
}

.bg-white {
  background-color: #fff;
}

.app-cells__title {
  margin-top: 16px;
  margin-bottom: 3px;
  padding-left: 16px;
  padding-right: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 1.4;
}
.app-cell__icon {
  position: relative;
  padding-right: 7px;
  top: 5px;
  width: 24px;
  height: 24px;
}
.app-items {
  position: relative;
  padding: 16px 12px;
  font-size: 15px;
  background-color: #fff;
}
.full-width {
  width: 100% !important;
}

.required {
  position: relative;
}
.required::after {
  content: '*';
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: $ERROR-COLOR;
}

.app-loading-mask {
  position: absolute;
  z-index: 2000;
  background-color: hsla(0, 0%, 100%, 0.9);
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;

  .van-loading__spinner {
    color: $PRIMARY;
  }
}
