@import './button.scss';
@import './table.scss';
@import './vant.scss';
html,
body {
  height: 100%;
  width: 100%;
}
#app {
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.bg-white {
  background-color: #fff;
}

.container {
  padding: 0 12px;
}
.page__desc {
  margin-top: 10px;
  text-align: left;
  font-size: 13px;
  color: $TEXT-COLOR-0;
}

.text-center {
  text-align: center;
}

.bg-white {
  background-color: #fff;
}
.full-width {
  width: 100% !important;
}

.required {
  position: relative;
}
.required::after {
  content: '*';
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: $ERROR-COLOR;
}

.app-loading-mask {
  position: absolute;
  z-index: 2000;
  background-color: hsla(0, 0%, 100%, 0.9);
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;

  .van-loading__spinner {
    color: $PRIMARY;
  }
}
