$PRIMARY: #47cec6;
$PRIMARY-DARK: #2bb3ab;
$PRIMARY-0: #a9e8e4;
$PRIMARY-1: #d3f3f1;
$PRIMARY-2: #e8f9f9;
$TEXT-COLOR: #0f1741;
$TEXT-COLOR-0: #8e90a4;
$TEXT-COLOR-1: #c5c5d2;
$TEXT-COLOR-2: #e0e1e6;
$ERROR-COLOR: #ff5151;
$WARN-COLOR: #fab31b;
$ICON-COLOR-0: #73e6e0;
$ICON-COLOR-1: #0f1741;

.top-line {
  position: relative;
  &::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid $TEXT-COLOR-2;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
    z-index: 1;
  }
}
.bottom-line {
  position: relative;
  &::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid $TEXT-COLOR-2;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
    z-index: 1;
  }
}
