$PRIMARY: #47cec6;
$PRIMARY-0: #a9e8e4;
$PRIMARY-1: #d3f3f1;
$PRIMARY-2: #e8f9f9;
$TEXT-COLOR: #0f1741;
$TEXT-COLOR-0: #8e90a4;
$TEXT-COLOR-1: #c5c5d2;
$TEXT-COLOR-2: #e0e1e6;
$ERROR-COLOR: #ff5151;
$WARN-COLOR: #fab31b;
$ICON-COLOR-0: #73e6e0;
$ICON-COLOR-1: #0f1741;
